import { registerBlockType } from '@wordpress/blocks';
/**
 * Internal dependencies
 */
import Edit from './edit';
{{#isStaticVariant}}
import save from './save';
{{/isStaticVariant}}
import metadata from './block.json';

registerBlockType( metadata.name, {
	edit: Edit,
	{{#isStaticVariant}}
	save,
	{{/isStaticVariant}}
} );